.inactive {
   font-style: italic;
   color: #808080;
}

body {
   overflow-y: scroll;
}

#content .site_image_wrapper {
   display: table;
   border: solid 1px #C0C0C0;
   background-color: #FFFFFF;
}

#content .site_image_wrapper .site_image {
   margin: 0px;
   background-color: #FFFFFF;
   border: none;
   max-width: 640px;
   max-height: 480px;
   opacity: 0.0;
}

#content .site_image:hover {
   opacity: 1.0;
}

#content .site_property {
	display: inline;
	font: 12px Arial, Helvetica, sans-serif;
   border: solid 1px #C0C0C0;
	color: #000000; 
}

#content .site_property::selection {
   background-color: #A0A0A0;
   color: #F0F0F0;
}

#content .site_property_action {
	float: right;
   display: inline;
   font: 12px Arial, Helvetica, sans-serif;
   border: solid 1px #C0C0C0;
   color: #000000; 
}

#content .masked_site_property {
   font: 12px Arial, Helvetica, sans-serif;
   border: solid 1px #C0C0C0;
   background-color: #F0F0F0;
   color: #F0F0F0;
}

#content .masked_site_property:focus {
   background-color: #F0F0F0;
   color: #C0C0C0;
}

#content .masked_site_property:hover {
   background-color: #F0F0F0;
   color: #C0C0C0;
}

#content .masked_site_property::selection {
   background-color: #C0C0C0;
   color: #E0E0E0;
}